:root {
    --bgColor: #e8f4fc;
    --navBarColor: #187bcd;
    --btnColor: #0d4573;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    height: 100%;
    padding-bottom: 60px;
    background-color: var(--bgColor);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 18px;
    color: var(--navBarColor);
}

.btn-space {
    margin-right: 40px;
}

.navbarcolor {
    background-color: var(--navBarColor);
}

.jumbo {
    background-color: var(--navBarColor);
}

.btn-style {
    background-color: var(--btnColor);
    color: white;
}

@media only screen and (min-width: 992px) {
    #user-table {
        width: 40%;
    }
    #insurance-table {
        width: 50%;
    }
}

#insurance-table
#user-table {
    margin-left: auto;
    margin-right: auto;
}


.check {
    accent-color: var(--btnColor);
}

.btn-style-back {
    border: 1px solid var(--btnColor);
    background-color: var(--bgColor);
}

.underscore {
    text-decoration: underline;
}