@{
    Layout = null;
    ViewData["Title"] = "Evidence pojištění";
}

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Evidence</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <div class="text-center">
        <div class="p-5 rounded-lg m-3 jumbo text-white">
            <h1 class="display-3">Evidence pojištění</h1>
            <p class="lead">Webová aplikace pro vytváření pojištěnců a pojištění.</p>
            <hr class="my-4">
            <p>Vytvořte pojištěnce a pojištění.</p>
            <p class="text-white">Přiřaďte pojištěnci pojištění / pojištění pojištěnci.</p>
            <a class="btn btn-space btn-style border" asp-area="" asp-controller="Users" asp-action="Index">Pojištěnci</a>
            <a class="btn btn-style border" asp-area="" asp-controller="InsuranceRecords" asp-action="Index">Pojištění</a>
        </div>
    </div>

    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Evidence pojištění
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
