@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="bg-light p-5 rounded-lg m-3">
      <h1 class="display-4">Evidence pojištění</h1>
      <p class="lead">Webová aplikace pro vytváření pojištěnců a pojištění.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>

<a class="btn btn-dark" asp-area="" asp-controller="Users" asp-action="Index">Pojištěnci</a>
    <a class="btn btn-dark" asp-area="" asp-controller="InsuranceRecords" asp-action="Index">Pojištění</a>